@{
    ViewData["Title"] = "Tra cứu thông tin cung lao động theo thời gian";
    int record_id = 1;
    var time = ViewBag.Time;
}
@model IEnumerable<QLViecLam.Models.Admin.Manages.ThongTinThiTruongLD.Company>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#time').change(function () {
                var current_path_url = '/TraCuuTTCungCauLD/CauLaoDong?';
                var time = '&time=' + $('#time').val();
                var url = current_path_url + time;
                window.location.href = url;
            })
        });
    </script>

}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh sách<small>Cơ sở dữ liệu thông tin nhu cầu tuyển dụng lao động của người sử dụng lao động</small><br />
            </h3>
        </div>
        <div class="card-toolbar">
            @* <button type="button" class="btn btn-primary font-weight-bolder" data-target="#Create_Modal" data-toggle="modal">Thêm mới</button> *@
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Thời gian</label>
                    @* <select class="form-control" id="Madiaban" name="Madiaban" onchange="updateInput()"> *@
                    <select class="form-control" id="time" name="time">
                        @foreach (var item in time!)
                        {
                            <!option value="@item.Text">@item.Text</!option>
                        }
                    </select>
                </div>
            </div>
            @* <div class="col-xl-4">
            <div class="form-group fv-plugins-icon-container">
            <a class="btn btn-primary font-weight-bolder" asp-controller="PhienGiaoDichVL" asp-action="Chitiet"
            asp-route-huyen="@ViewData["tenhuyen"]" asp-route-xa="@ViewData["tenxa"]" style="float:right">
            <i class="la la-plus"></i>Tạo phiên giao dịch việc làm
            </a>
            </div>
            </div> *@

        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th>Stt</th>
                    <th>Mã ĐKKD</th>
                    <th>Tên doanh nghiệp</th>
                    <th>Địa chỉ</th>
                    <th>Điện thoại</th>
                    <th>Quy mô</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(record_id++)</td>
                            <td>@item.Dkkd</td>
                            <td>@item.Name</td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                            <td>@item.QuyMo</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
