@{
    int record_id = 1;
    var time = ViewBag.Time;
}
@model IEnumerable<QLViecLam.Models.Admin.Manages.NhanKhau>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#time').change(function () {
                var current_path_url = '/TraCuuTTCungCauLD/CungLaoDong?';
                var time = '&time=' + $('#time').val();
                var url = current_path_url + time;
                window.location.href = url;
            })
        });
                        /*
        function updateInput() {
        var selectedOption = document.getElementById("Madiaban");
        var selectedLabel = selectedOption.options[selectedOption.selectedIndex].getAttribute("data-label");
        document.getElementById("test").value = selectedLabel;
        }
        */
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh sách<small>Cơ sở dữ liệu thông tin thông tin người tìm việc</small><br />
            </h3>
        </div>
        <div class="card-toolbar">
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Thời gian</label>
                    @* <select class="form-control" id="Madiaban" name="Madiaban" onchange="updateInput()"> *@
                    <select class="form-control" id="time" name="time">
                        @foreach (var item in time!)
                        {
                            <!option value="@item.Text">@item.Text</!option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th>Stt</th>
                    <th>Họ tên</th>
                    <th>CMND</th>
                    <th>Ngày sinh</th>
                    <th>Thường trú</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(record_id++)</td>
                            <td>@item.HoVaTen</td>
                            <td>@item.SoCCCD</td>
                            <td>@item.NgayThangNamSinh</td>
                            <td>@item.ThuongTru</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
