@{
    // ViewData["Title"] = "Cơ sở dữ liệu thông tin nhu cầu tuyển dụng lao động của người sử dụng lao động";
    int record_id = 1;
    var Xa = (IEnumerable<QLViecLam.Models.Admin.Systems.DmHanhChinh>)ViewData["Xa"]!;
    var Huyen = (IEnumerable<QLViecLam.Models.Admin.Systems.DmHanhChinh>)ViewData["Huyen"]!;
    var TrangThai = Convert.ToBoolean(ViewData["TrangThai"]);
    var dsdoanhnghiep = (IEnumerable<QLViecLam.Models.Admin.Manages.ThongTinThiTruongLD.Company>)ViewData["DsDoanhNghiep"]!;
    var doanhnghiep = ViewData["DoanhNghiep"]!.ToString();

}
@model IEnumerable<QLViecLam.Models.Admin.Manages.ThongTinThiTruongLD.TuyenDung>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#DoanhNghiep,#TrangThai').change(function () {
                var current_path_url = '/TruyVanCungCauLD/DanhSachTuyenDung?';
                var DoanhNghiep = '&DoanhNghiep=' + $('#DoanhNghiep').val();
                var TrangThai = '&TrangThai=' + $('#TrangThai').val();                
                var url = current_path_url + DoanhNghiep + TrangThai;
                window.location.href = url;
            })
        });
    </script>

}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh sách<small>Danh sách thông tin tuyển dụng: </small> <span style="color:indianred;">(@ViewData["Cout"]) hồ sơ</span><br />
            </h3>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">            
            <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Doanh nghiệp</label>
                    <select class="form-control" id="DoanhNghiep" name="DoanhNghiep" asp-for="@doanhnghiep">
                        <option value="0">--All--</option>
                        @foreach (var item in dsdoanhnghiep)
                        {                            
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Trạng thái</label>
                    <select class="form-control" asp-for="@TrangThai" id="TrangThai">
                        <option value="0"> Chưa duyệt </option>
                        <option value="1"> Đã duyệt </option>
                        <option value="2"> Đã báo cáo </option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th>Stt</th>
                    <th>Tên tuyển dụng</th>
                    <th>Tên doanh nghiệp</th>                    
                    <th>Ngày đăng</th>
                    <th>Hạn cuối</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(record_id++)</td>
                            <td>@item.NoiDung</td>
                            <td>@item.TenCongTy</td>
                            <td>@Funtions_Global.ConvertDateToStr(item.Created_at)</td>
                            <td>@Funtions_Global.ConvertDateToStr(item.ThoiHan)</td>
                            <td>
                                @if(item.State==0){
                                    <span>Chưa duyệt</span>
                                }
                                else if(item.State==1)
                                {
                                    <span>Đã duyệt</span>
                                }
                                else
                                {
                                    <span>Đã báo cáo</span>
                                }
                                </td>
                            <td>
                                <a asp-controller="TruyVanCungCauLD" asp-action="DsViTriTuyenDung" asp-route-id="@item.Id" class="btn btn-sm btn-clean btn-icon" title="Danh sách vị trí tuyển dụng" target="_blank">
                                    <i class="icon-lg la la-eye text-warning"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
