@{
    var session = HttpContextAccessor?.HttpContext?.Session ?? null;
}
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Cập nhật mật khẩu tài khoản
                    <span style="color:blue; font-weight:bold">@(session != null ? Funtions_Global.GetSsAdmin(session, "Username") : "")</span>
                </span>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="Home" asp-action="ChangePassword" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-7">
                    <!--begin::Group-->
                    <div class="form-group row">
                        <label class="col-form-label col-3 text-lg-right text-left">Mật khẩu hiện tại:</label>
                        <div class="col-9">
                            <input class="form-control" type="password"
                                   id="current_password" name="current_password" value="@ViewData["current_password"]"
                                   onmouseover="this.type='text'" onmouseout="this.type='password'">
                        </div>
                    </div>
                    <!--end::Group-->
                    <!--begin::Group-->
                    <div class="form-group row">
                        <label class="col-form-label col-3 text-lg-right text-left">Mật khẩu mới:</label>
                        <div class="col-9">
                            <input class="form-control" type="password"
                                   id="new_password" name="new_password" value="@ViewData["new_password"]"
                                   onmouseover="this.type='text'" onmouseout="this.type='password'">
                        </div>
                    </div>
                    <!--end::Group-->
                    <!--begin::Group-->
                    <div class="form-group row">
                        <label class="col-form-label col-3 text-lg-right text-left">Nhập lại mật khẩu mới:</label>
                        <div class="col-9">
                            <input class="form-control" type="password"
                                   id="verify_password" name="verify_password" value="@ViewData["verify_password"]"
                                   onmouseover="this.type='text'" onmouseout="this.type='password'">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-3 text-lg-right text-left"></label>
                        <div class="col-9">
                            <span class="text-danger">@Html.ValidationMessage("error")</span>
                        </div>
                    </div>
                    <!--end::Group-->
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="la la-reply"></i>Quay lại</a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
    <!--end::Form-->
</div>
