@{

    var NganhNghe = (IEnumerable<QLViecLam.Models.Admin.Systems.DanhMuc.NganhNghe>)ViewData["NganhNghe"]!;
    var TrinhDoCMKT = (IEnumerable<QLViecLam.Models.Admin.Systems.DanhMuc.TrinhDoCMKT>)ViewData["TrinhDoCMKT"]!;
    var TrinhDoHV = (IEnumerable<QLViecLam.Models.Admin.Systems.DanhMuc.TrinhDoHV>)ViewData["TrinhDoHV"]!;
    var LoaiHopDongLaoDong = (IEnumerable<QLViecLam.Models.Admin.Systems.DanhMuc.LoaiHopDongLaoDong>)ViewData["LoaiHopDongLaoDong"]!;
    var QuocGia = (IEnumerable<QLViecLam.Models.Admin.Systems.DanhMuc.QuocGia>)ViewData["QuocGia"]!;
}
@model QLViecLam.Models.Admin.Manages.NguoiLaoDong

<div class="row">
    <fieldset class="col-xl-offset-2">
 
        <div class="col-xl-12">
            <input hidden asp-for="Id" />
            <legend class="w-auto px-3">
                Thông tin cơ bản
            </legend>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Họ và Tên (*)</label>
                        <input type="text" asp-for="HoVaTen" class="form-control">
                        <span asp-validation-for="HoVaTen" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Số hộ chiếu (*)</label>
                        <input type="text" asp-for="SoCCCD" class="form-control">
                        <span asp-validation-for="SoCCCD" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Giới tính </label>
                        <select class="form-control input-xl m-bot5" asp-for="Gioitinh">
                            <option value='1'>Nam</option>
                            <option value='2'>Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ngày tháng năm sinh (*)</label>
                        <input type="date" asp-for="NgayThangNamSinh" class="form-control">
                        <span asp-validation-for="NgayThangNamSinh" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Quốc tịch (*)</label>
                        <select class="form-control input-xl m-bot5" asp-for="Nation">
                            <option value="VN">Việt Nam</option>
                            @foreach (var qg in QuocGia)
                            {
                                <option value='@qg.MaQuocGia'>@qg.TenQuocGia</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Dân tộc </label>
                        <input type="text" asp-for="DanToc" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Tỉnh (*)</label>
                        <input type="text" asp-for="Tinh" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Huyện Thị (*)</label>
                        <input type="text" asp-for="Huyen" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Phường xã (*)</label>
                        <input type="text" asp-for="Xa" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Địa chỉ </label>
                        <input type="text" asp-for="DiaChiCuThe" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Vị trí</label>
                        <input type="text" asp-for="ViTri" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Chức vụ</label>
                        <input type="text" asp-for="ChucVu" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Trình độ học vấn</label>
                        <select class="form-control input-xl m-bot15" asp-for="TrinhDoHV">
                            <option value="">--Chọn trình độ học vấn---</option>
                            @foreach (var hv in TrinhDoHV)
                            {
                                <option value='@hv.MaTrinhDoHV'>@hv.TenTrinhDoHV</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Trình độ CMKT</label>
                        <select class="form-control input-xl m-bot15" asp-for="TrinhDoCMKT">
                            <option value="">--Chọn trình độ chuyên môn kỹ thuật---</option>
                            @foreach (var cmkt in TrinhDoCMKT)
                            {
                                <option value='@cmkt.MaTrinhDoCMKT'>@cmkt.TenTrinhDoCMKT</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ngành nghề</label>
                        <select class="form-control input-xl m-bot15" asp-for="NgheNghiep">
                            <option value="">--Chọn ngành nghề---</option>
                            @foreach (var nn in NganhNghe)
                            {
                                <option value='@nn.MaNganhNghe'>@nn.TenNganhNghe</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Lĩnh vực đào tạo</label>
                        <select class="form-control input-xl m-bot15" asp-for="LinhVucDaoTao">
                            <option value="">--Chọn lĩnh lực đào tạo---</option>
                            @*         @foreach ()
                            {
                            <option value=''></option>
                            } *@
                        </select>
                    </div>
                </div>
            </div>
            <legend class="w-auto px-3">
                Thông tin khác
            </legend>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Mức lương </label>
                        <input type="text" asp-for="Luong" data-type="currency" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Phụ cấp chức vụ</label>
                        <input type="text" asp-for="PcChucVu" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Phụ cấp thâm niên</label>
                        <input type="text" asp-for="PcThamNien" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Phụ cấp thâm niên nghề</label>
                        <input type="text" asp-for="PcThamNienNghe" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Phụ cấp lương</label>
                        <input type="text" asp-for="PcLuong" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Phụ cấp bổ sung</label>
                        <input type="text" asp-for="PcBoSung" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ngày bắt đầu NN độc hại, nặng nhọc </label>
                        <input type="date" asp-for="BdDocHai" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ngày kết thúc NN độc hại, nặng nhọc </label>
                        <input type="date" asp-for="KtDocHai" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Loại HĐLĐ</label>
                        <select class="form-control input-xl m-bot15" asp-for="LoaiHdld">
                            <option value="">--Chọn loại HĐLĐ---</option>
                            @foreach (var hd in LoaiHopDongLaoDong)
                            {
                                <option value='@hd.MaLoaiHopDongLaoDong'>@hd.TenLoaiHopDongLaoDong</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ngày hiệu lực HĐLD</label>
                        <input type="date" asp-for="BdHopDong" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ngày hết hiệu lực HĐLD</label>
                        <input type="date" asp-for="KtHopDong" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Số sổ bảo hiểm</label>
                        <input type="text" asp-for="SoBaoHiem" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ngày bắt đầu BHXH</label>
                        <input type="date" asp-for="BdBhxh" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ngày kết thúc BHXH</label>
                        <input type="date" asp-for="KtBhxh" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Mức lương đóng BHXH</label>
                        <input type="text" asp-for="LuongBhxh" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Tuyển dụng từ TTDVVL</label>
                        <select class="form-control input-xl m-bot5" asp-for="FromTtdvvl">
                            <option value='1'>Đúng</option>
                            <option value='0'>Sai</option>

                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <input asp-for="GhiChu" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
