﻿@{
    var ChucNang = (IEnumerable<QLViecLam.Models.Admin.Systems.HeThongChung.ChucNang>)ViewData["ChucNang"]!;

}
<!--Create Modal-->
<form asp-controller="ChucNang" asp-action="Store" method="post" enctype="multipart/form-data" id="ChucNang_store">
    <div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Thông tin chức năng
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-left">
                        <div class="col-xl-4">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Mã chức năng</b></label>
                                <input type="text" id="machucnang" name="machucnang" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Tên chức năng</b></label>
                                <input type="text" id="tenchucnang" name="tenchucnang" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Trực thuộc chức năng</b></label>
                                <select type="text" id="parent" name="parent" class="form-control">
                                    <option value="" data-capdo="0">---Không chọn(chức năng gốc)---</option>
                                    @foreach (var cn in ChucNang)
                                    {
                                        <!option value="@cn.MaChucNang" id="@cn.MaChucNang@cn.Id" data-capdo="@cn.CapDo">@cn.TenChucNang (Cấp @cn.CapDo)</!option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Cấp độ của chức năng</b></label>
                                <input type="number" id="capdo_dis" name="capdo_dis" value="1" class="form-control" disabled />
                                <input type="hidden" id="capdo" value="1" name="capdo" />
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Trạng thái</b></label>
                                <select type="text" id="trangthai" name="trangthai" class="form-control">
                                    <option value="1">Kích hoạt</option>
                                    <option value="0">Vô hiệu</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Edit Modal-->
<form asp-controller="ChucNang" asp-action="Update" method="post" enctype="multipart/form-data" id="ChucNang_edit">
    <div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Thông tin chức năng
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body" id="edit_thongtin">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Delete Modal-->
<form asp-controller="ChucNang" asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Đồng ý xóa???
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-left">
                        <input hidden id="id_delete" name="id_delete" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('parent').addEventListener('change', function () {
        var selectedOption = this.options[this.selectedIndex];
        var capDo = parseInt(selectedOption.getAttribute('data-capdo'), 10);
        var capDoMoi = capDo + 1;

        // Cập nhật giá trị cho các phần tử input
        document.getElementById('capdo_dis').value = capDoMoi;
        document.getElementById('capdo').value = capDoMoi;
    });


    function SetEdit(id_edit) {
        $.ajax({
            url: '/ChucNang/Edit',
            type: 'POST',
            data: {
                id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#edit_thongtin').replaceWith(data.message);


                    // Thêm event listeners sau khi nội dung mới được tải vào DOM
                    var parentEditElement = document.getElementById('parent_edit');
                    if (parentEditElement) {
                        parentEditElement.addEventListener('change', function () {
                            var selectedOption = this.options[this.selectedIndex];
                            var capDo_edit = parseInt(selectedOption.getAttribute('data-edit-capdo'), 10);
                            var capDoMoi_edit = capDo_edit + 1;

                            document.getElementById('capdo_edit_dis').value = capDoMoi_edit;
                            document.getElementById('capdo_edit').value = capDoMoi_edit;
                        });
                    }
                }
            }
        });
    }


    function SetCreate(maChucNang, id, capdo) {
        var optionElementId = maChucNang + id; // Nối maChucNang và id để tạo ra ID mới
        var optionElement = document.getElementById(optionElementId);
        var capdo_disElement = document.getElementById('capdo_dis');
        var capdoElement = document.getElementById('capdo');

        if (optionElement) {
            optionElement.selected = true;
            var cap = parseInt(capdo) + 1;
            capdo_disElement.value = cap;
            capdoElement.value = cap;
        } else {
            toastr.error("Không tìm thấy mã chức năng: " + optionElementId, "Lỗi");
        }
    }



    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

  
    function resetFormChucNang() {
        // Đặt lại các giá trị của form về mặc định
        document.getElementById('machucnang').value = '';
        document.getElementById('tenchucnang').value = '';
        document.getElementById('parent').selectedIndex = 0; // Chọn lại giá trị đầu tiên trong dropdown
        document.getElementById('capdo_dis').value = '1'; // Đặt lại giá trị mặc định cho cấp độ
        document.getElementById('capdo').value = '1';
        document.getElementById('trangthai').selectedIndex = 0; // Chọn lại giá trị đầu tiên trong dropdown
    }

</script>