@{
    Layout = "_LayoutPrint";
    var record_id = 1;
}
@model IEnumerable<QLViecLam.ViewModels.Admin.Manages.ThongTinThiTruongLD.ThuThapTT.HeThongTruyVanTT.VM_Count_Chucnang>
<br />
<br />
<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Số: .........</td>
        <td style="vertical-align: top"><i>, ngày....tháng....năm....</i></td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">Báo cáo thống kê theo </p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Đơn vị sử dụng lao động</th>
            <th>Số liệu</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var item in Model)
        {
        <tr>
        <td style="text-align: center">@(record_id++)</td>
        <td>
        @item.Tendn<br />
        <b>Mã số thuế: </b>@item.Madv<br />
        <b>Mã hồ sơ: </b>@item.Mahs
        </td>
        <td style="text-align: center">@item.Socv</td>
        <td style="text-align: center">@Helpers.ConvertDateToStr(item.Ngaynhap)</td>
        <td style="text-align: center">@Helpers.ConvertDateToStr(item.Ngayhieuluc)</td>
        <td style="text-align: center">@Helpers.ConvertDateToStr(item.Ngaychuyen)</td>
        <td style="text-align: center">
        Số hồ sơ nhận: @item.Sohsnhan<br />
        Ngày nhận: @Helpers.ConvertDateToStr(item.Ngaynhan)
        </td>
        </tr>
        } *@

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(record_id++)</td>
                    <td>@item.Mota</td>
                    <td>@item.Count</td>
                </tr>

            }
        }
    </tbody>
</table>
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tr>
        <td width="40%" style="text-align: left; vertical-align: top;">
            <span style="font-weight: bold;font-style: italic">Nơi nhận:</span><br>
            - UBND tỉnh;<br />
            - Bộ tài chính;<br />
            - Lưu: VT, QLGCS.
        </td>
        <td style="vertical-align: top;">
            <b>THỦ TRƯỞNG ĐƠN VỊ</b><br>
            <i>(Ký tên, đóng dấu)</i>
        </td>
    </tr>
</table>